<footer>


<div class="footer">

<img class="ub-logo-footer" src="/assets/ub-logo-two-line.png" alt="University at Buffalo  The State University of New York" width="241" height="32">

<div class="contact">

<div class="social">
<ul>
<li><a href="https://www.facebook.com/ublibraries" target="_blank" class="facebook" aria-label="facebook"></a></li>
<li><a href="https://twitter.com/ublibraries" target="_blank" class="twitter" aria-label="twitter"></a></li>
<li><a href="https://www.youtube.com/user/ublibraries" target="_blank" class="youtube" aria-label="youtube"></a></li>
<li><a href="https://pinterest.com/ublibraries" target="_blank" class="pinterest" aria-label="pinterest"></a></li>
<li><a href="https://instagram.com/ublibraries" target="_blank" class="instagram" aria-label="instagram"></a></li>
</ul>


</div>


<strong>University at Buffalo Libraries</strong><br>
433 Capen Hall<br>
Buffalo, NY 14260-1625<br>
716-645-2965<br>

<ul class="contact-nav">
<li><a href="https://library.buffalo.edu/aboutus/contactus">Contact Us</a></li>
<li><a href="https://library.buffalo.edu/aboutus/contactus/directions">Directions</a></li>
<li><a href="https://library.buffalo.edu/aboutus/contactus/report-a-problem.html">Report a Problem</a></li>
</ul>



</div>

<div class="copyright">
© 2018 <a href="https://buffalo.edu">University at Buffalo</a>. All rights reserved.&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://buffalo.edu/home/accessibility.html">Accessibility</a>
            </div>
    


    
</div>


    
</footer>




<!--<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items"><%= I18n.t("footer.staff_interface", staff_url: AppConfig[:frontend_proxy_url]).html_safe %>
         | <%= I18n.t("footer.archivesspace_home").html_safe %>
         | <%= ASConstants.VERSION %>
         <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %> | <%= I18n.t("footer.feedback", :feedback_url => AppConfig[:feedback_url]).html_safe %><% end %></p>
     </div>
  </div>
</div>
-->